/* freebsd.css */

.learn-more-btn {
    margin-top: 30px;
    padding: 12px 40px;
    border: 1px solid #cc0000;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    background-color: rgba(80, 0, 0, 0.4);
    font-size: 1.1rem;
    font-family: "Pattanakarn", sans-serif;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.learn-more-btn:hover {
    background-color: rgba(150, 0, 0, 0.6);
    box-shadow: 0 0 15px 2px rgba(204, 0, 0, 0.5);
    transform: scale(1.05);
}

.learn-more-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px 1px rgba(204, 0, 0, 0.5);
}

@font-face {
    font-family: 'Pattanakarn';
    src: url('../assets/Pattanakarn_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pattanakarn-Black';
    src: url('../assets/Pattanakarn_Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pattanakarn-ExtraBold';
    src: url('../assets/Pattanakarn_ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.freebsd-title {
    font-family: 'Pattanakarn', sans-serif;
    color: white;
    font-size: 7rem;
    margin-top: 2vh;
    letter-spacing: 8px;
}

/* navbar */
nav {
    color: white;
    padding: 1em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav span {
    margin: 0 2em; 
}

nav .nav-title {
    font-family: 'Pattanakarn';
    src: url('../assets/Pattanakarn_Regular.ttf') format('truetype');
    text-decoration: underline;
    font-size: 1.5em;
}

nav .nav-items {
    font-family: 'Pattanakarn';
    src: url('../assets/Pattanakarn_Regular.ttf') format('truetype');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

nav .nav-toggle {
    font-family: 'Pattanakarn-ExtraBold';
    src: url('../assets/Pattanakarn_ExtraBold.ttf') format('truetype');
    flex-grow: 2;
    text-align: right;
    cursor: pointer;
}
