main {
    padding: 2em 5em;
    background-color: rgba(0,0,0, 0.6);
    overflow-y: scroll;
}

@media (max-width: 768px) {
    main {
        padding: 2em 1.5rem;
    }
}

h1 {
    color: white;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 0.5em 0;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7),
                0 0 30px rgba(0, 0, 0, 0.5);
}

.bib-container {
    color: white;
    text-indent: -5em;
    padding-left: 5em;
    display: block;
}

@media (max-width: 480px) {
    .bib-container {
        text-indent: -2em;
        padding-left: 2em;
    }
}
